<%= form_with(model: score) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :composer_id, style: "display: block" %>
    <%= form.select :composer_id, Composer.all.collect{|h|["#{h.name}", h.id]} %>
  </div>

    <%= form.hidden_field :user_id %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :myscore, style: "display: block" %>
    <%= form.text_area :myscore, style: "width:100%;height:500px;" %>
  </div>
  <div>
    <%= form.label :time_signature, style: "display: block" %>
    <%= form.text_field :time_signature %>
  </div>
  <div>
    <%= form.label :key_signature, style: "display: block" %>
    <%= form.text_field :key_signature %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
