<div id="<%= dom_id score %>">
  <p>
    <strong>Composer:</strong>
    <%= score.composer_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= score.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= score.content %>
  </p>

  <p>
    <strong>Times:</strong>
    <%= score.times %>
  </p>

  <p>
    <strong>Keys:</strong>
    <%= score.keys %>
  </p>

  <p>
    <strong>User:</strong>
    <%= score.user_id %>
  </p>

</div>
